@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #0000004e;
}

.message-erreur{
    margin-bottom: 40px;
}

/* BARRE DE NAVIGATION */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 40px 20px 40px;
    background-color: #0000001c;
    backdrop-filter: blur(30px);
    z-index: 3;
}

nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

nav .logo h1{
    margin-left: 10px;
    color: #ECECEC;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
}

nav .logo img{
    width: 50px;
}

nav .links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav .links a{
    text-decoration: none;
    color: #ECECEC;
    margin-left: 32px;
    font-size: 16px;
}

nav .links a:hover{
    color: #bababa;
    transition: 0.3s;
}


nav .bouttons-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

nav #button-inscription{
    background-color: #ECECECEC;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

nav #button-inscription:hover{
    background-color: inherit;
    border: 1px solid #ECECEC;
    color: #ECECEC;
    transition: 0.3s;
}

nav #button-connexion{
    background-color: inherit;
    border: 1px solid #ECECEC;
    color: #ECECEC;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

nav #button-connexion:hover{
    background-color: #ECECEC;
    color: #000000;
    transition: 0.3s;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100Vh;
}

/* FORMULAIRE INSCRIPTION */


header .form-inscriptiion-container form {
    color: #ECECEC;
    background-color: #000000b0;
    padding: 100px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.643) 0px 7px 29px 0px;
}

header .form-inscriptiion-container label {
    font-size: 18px;
    margin-bottom: 15px;
}

header .form-inscriptiion-container .box-1, .box-2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

header .form-inscriptiion-container #submit{
    margin-top: 40px;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}


/* FORMULAIRE CONNEXION */

header .form-connexion-container form {
    color: #ECECEC;
    background-color: #000000b0;
    padding: 100px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.643) 0px 7px 29px 0px;
}

header .form-connexion-container label {
    font-size: 18px;
    margin-bottom: 15px;
}

header .form-connexion-container .box-1-connexion, .box-2-connexion {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

header .form-connexion-container #submit{
    margin-top: 40px;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}