@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #0000004e;
}

.message-erreur{
    margin-bottom: 40px;
}

/* BARRE DE NAVIGATION */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 40px 20px 40px;
    background-color: #0000001c;
    backdrop-filter: blur(30px);
    z-index: 3;
}

nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

nav .logo h1{
    margin-left: 10px;
    color: #ECECEC;
    font-size: 32px;
    font-weight: 500;
    padding: 0;
}

nav .logo img{
    width: 50px;
}

nav .links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav .links a{
    text-decoration: none;
    color: #ECECEC;
    margin-left: 32px;
    font-size: 16px;
}

nav .links a:hover{
    color: #bababa;
    transition: 0.3s;
}


nav .user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

nav .user-info span {
    color: #ECECEC;
}

nav .user-info img {
    width: 50px;
    margin: 0px 20px;
    cursor: pointer;
}

nav .user-info #deconnexion {
    background-color: #ECECECEC;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}